<h1>Cocktails#show</h1>
<p>Find me in app/views/cocktails/shoew.html.erb</p>

<%= @cocktail.name %>
<%= link_to "Add ingredients", new_cocktail_dose_path(@cocktail)   %>
<%= link_to "Homepage", cocktails_path  %>

<% @cocktail.doses.each do |dose| %>
<%=  dose.description %>
<%= dose.ingredient.name %>
<%= link_to 'delete ingredient', dose_path(dose), method: :delete, data: {confirm: 'Are you sure???'}, class: 'btn btn-danger'%>

<% end %>

<div class="container">
  <div class="card-show-wrapper">
    <div class="card-trip">
      <%= image_tag "card-show-cocktails.jpg"%>
      <div class="card-trip-infos">
        <div>
          <h2><%= @cocktail.name %></h2>
          <% @cocktail.doses.each do |dose| %>

          <p><%=  dose.description %> <%= dose.ingredient.name %></p>
          <% end %>
        </div>
        <h2 class="card-trip-pricing">Try it !</h2>
      </div>
    </div>
  </div>
</div>


